p, h1 {
  color: white;
  width: 1250px;
  font-size: 80px;
  font-family: 'Fascinate inline', cursive;
  text-align: center;
}

html {
  background-color: #000000;
}

img {
  display: flex;
  margin-left: 400px;
}
